<?php
$header = <<<EOF
GpsLab component.

@author    Peter Gribanov <info@peter-gribanov.ru>
@copyright Copyright (c) 2011, Peter Gribanov
@license   http://opensource.org/licenses/MIT
EOF;

return PhpCsFixer\Config::create()
    ->setRules([
        '@Symfony' => true,
        'header_comment' => [
            'comment_type' => 'PHPDoc',
            'header' => $header,
        ],
        'array_syntax' => ['syntax' => 'short'],
        'no_superfluous_phpdoc_tags' => false,
        'yoda_style' => false,
        'ordered_imports' => [
            'sort_algorithm' => 'alpha',
        ],
    ])
    ->setFinder(
        PhpCsFixer\Finder::create()
            ->in(__DIR__.'/src')
            ->in(__DIR__.'/tests')
            ->notPath('bootstrap.php')
    )
;
